//chart template
doctype html
html
    head
        script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.js')
        link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.css')
    body
        - var ar = JSON.parse(area);
          each item in ar
            div(id=`${item}`,style="max-width:device-width; margin: 5px auto; border: 1px solid #000;")
    script.
        var options = !{option};
        var areas = !{area};
        var series = !{series};
        var dtype = "#{device}";

        for(i=0;i<areas.length;i++){
            let x = series.findIndex(a => a.id === areas[i]);
            options.series = series[x].val;
            options.title.text = `All Responses For ${areas[x]} ( ${dtype} )`;  
            var chart = new ApexCharts(document.getElementById(`${areas[i]}`), options);
            chart.render();
        }