//chart template
doctype html
html
    head
        script(src='/Javascript/apexcharts.js')
        link(rel='stylesheet',type='text/css',href='/CSS/apexcharts.css')
    body
        - var ar = JSON.parse(area);
          each item in ar
            div(id=`${item}`,style="max-width:650px; margin: 35px auto")
    script.
        var options = !{option};
        var areas = !{area};
        var series = !{series};
        for(i=0;i<areas.length;i++){
            let x = series.findIndex(a => a.name === areas[i]);
            options.series = [series[x]]        
            var chart = new ApexCharts(document.getElementById(`${areas[i]}`), options);
            chart.render();
        }