//chart template
doctype html
html
    head
        script(src='/Javascript/apexcharts.min.js')
        link(rel='stylesheet',type='text/css',href='/CSS/apexcharts.css')
    body
        div(id='chart',style="max-width:650px")
        div(id='chart2',style="max-width:650px")
    script.
        var options = !{option1};
        options.tooltip.y.formatter = (val,{seriesIndex,dataPointIndex})=>{
            let area = !{area};
            if(seriesIndex)
                return `${val}(${area.leastArea[dataPointIndex]})`; 
            else
                return `${val}(${area.topArea[dataPointIndex]})`;
        };
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
        var options2 = !{option2};
        var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
        chart2.render();